<a href="/rss.xml">RSS</a> {{- print " · " }}
<a href="https://codeberg.org/Tuxilio/website">Source</a> {{- print " ·"}}
<a href="/meta/contact">Contact</a> {{- print " · " }}
<a href="/sitemap.xml">Sitemap</a>
<br>
<a href="/meta/privacy">Privacy</a>{{- print " · " }}
<a href="/meta/copying">Copying</a>
<br>
<a href="https://fediring.net/previous?host=tuxilio.codeberg.page">←</a>
<a href="https://fediring.net/">Fediring</a>
<a href="https://fediring.net/next?host=tuxilio.codeberg.page">→</a> 
